:root{
    --c1-Primary: #4B4E6D;
    --c2-Secondary: #95A3B3;
    --c3-Accent1: #84DCC6;
    --c4-Accent2: #13AA84;
}

/* General CSS */

header {
    background-color: var(--c4-Accent2);
    border-bottom: 10px solid var(--c1-Primary);
}

nav {
    display: flex;
    
}

nav a {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--c2-Secondary);
    border: 5px solid black;
    width: 100%;
    height: 50px;
    margin: 0px;
    text-align: center;
}

nav a h1 {
    margin: 10px;
}

#logo-frame {
    border-radius: 50%;
    overflow: hidden;
    width: 105px;
    height: 95px;
}

#logo {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

body {
    background-color: var(--c1-Primary);
}

main {
    background-color: var(--c2-Secondary);
}









/*Unique CSS for the index.html page*/







/*Unique CSS for the armies.html page*/
.row{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 3px solid red;
}
.form_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;

    border: 3px solid blue;
}
.form_box p{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
.form_box div{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.label_group{
    width: 150px;
    font-weight: bold;
}
.input_group{
    padding: 4px;
    flex: 1;
}
.button_box{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.form_box div button{
    margin-bottom: 3px;
}


/*Unique CSS for the roster.html page*/

